<div class="container mt-5"> 
<div class="row justify-content-center">

<div class="card_d" style="width: 18rem;">
  <div class="card-body_d">
<div class = 'page-header'>
    <h3 class="fw-normal text-secondary mt-3">Log In </h3>
</div>
<%= form_tag sessions_path do %>
<div class="col-sm-6 col-lg-auto" >
  <div class="card_d">
    <div class="card-body_d center bg-light">

  <div class="form-group">
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username], class: "form-control" %>
  </div>

  <div class="mt-2">
    <%= submit_tag "Log In", class: "btn btn-primary" %> 
  </div>
  </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>